header, nav{
    background-color:   #879EC8;

}

header h1{
    text-align: center;
    margin-top: 50px;
    margin-right: 450px;
    float: right;
}

header{
    margin-bottom: 0;
}

.flexContainer{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
  
}

nav{
    display: block;
    letter-spacing: 0.1em;
    font-weight: bold;
    width: 150px;
    height: 100%;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}

nav a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
    background-color: pink;
    border-bottom: 1px solid #eee;
}

nav a:hover{
    background-color: #eee;
    color: pink;
}


main{
    padding: 13px;
    
}

main img{
    float: right;
}

footer{
    background-color: #7694ca;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 2px;
}

@media only screen and (max-width: 780px) {
    
    nav{
        
    }
}



@media only screen and (max-width: 480px){
   
    .flexContainer{
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    header{
        font-size: 100%;
        
    }

    header h1{
        /* text-align: left;
        margin-top: 0px;
        margin-right: 0;
        float: right; */
        display: none;
    }

    nav{

        width: 100%;
    }

    nav a{
        background-color: rgb(39, 181, 228)
    }

    main img{
        display: none;
 
    }

    main h2{
        color: #879EC8;
        margin: 0 auto; 
    }

    main p{
        margin: 0 auto;
    }

    main{
        font-size: 25px;

    }


}